<a href="https://colab.research.google.com/github/DBASS007/CSC221_dbass007/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Read through Crash Ch. 4 and work through it as a Colab like we did in class. You will "hand in" a big Colab called Assignment5.ipynb that I can just run from your GitHub.
#Try the examples as shown in text
#Try the Try It Yourself challenges. If some seem redundant, explain that in your Colab and move on!
#Write a function called factorial(n) that computes the factorial of a positive integer n using a list.
#Remember factorial? It's the product of all numbers from 1 to n. It's usually written "n!"
#Your function must make a list containing all the numbers from 1 to n  inclusive using a list comprehension.
#Then multiply all the numbers in the list together to get the result, like
#product = 1
#for x in my_list:
#product *= x
#4. Now, copy this function and rename the new one special_factorial(n). Compute the factorial but leave out the numbers 4, 13, and 22 (if they exist!) from the product. This can be done by removing those numbers from your list prior to multiplying everything together.
#You'll need to be careful about removing the values from the list. For example:

    #if n >= 4:
        #my_list.remove(4)
#Can you get these results?

In [ ]:
#4.1 pizzas
print("The toppings 3 toppings are chose were:")
toppings = ["cheese", "sausage", "meatlovers"]
for topping in toppings:
  print(topping)
print("\n")
for topping in toppings:
  print(f"I love {topping} pizza!!")

print("\nMan, I just really enjoy eating some pizza!!")

The toppings 3 toppings are chose were:
cheese
sausage
meatlovers


I love cheese pizza!!
I love sausage pizza!!
I love meatlovers pizza!!

Man, I just really enjoy eating some pizza!!

In [ ]:
#4.2
animals = ["dogs", "cats", "parrots"]
print("The animals I chose were:")
for animal in animals:
  print(animal)
print("\n")
for animal in animals:
  if animal == "dogs":
    print("Dogs would make great pets.")
  elif animal == "cats":
      print("Cats are independent and make good companions.")
  elif animal == "parrots":
      print("A parrot can be a very entertaining pet.")
print("\nAny of these animals would make a great pet!")

The animals I chose were:
dogs
cats
parrots


Dogs would make great pets.
Cats are independent and make good companions.
A parrot can be a very entertaining pet.

Any of these animals would make a great pet!

In [ ]:
#4.3
numbers = list(range(1,21))
for number in numbers:
  print(number)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#4.4
numbers = list(range(1,1000000))
for number in numbers:
  print(number)

In [ ]:
#4.5
numbers = list(range(1, 1000001))
print(min(numbers))
print(max(numbers))
print(sum(numbers))

1
1000000
500000500000

In [ ]:
#4.6
for numbers in range(1, 21, 2):
  print(numbers)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#4.7
threes = list(range(3, 31, 3))

for number in threes:
    print(number)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#4-8
cubes = []
for number in range(1, 11):
    cube = number**3
    cubes.append(cube)
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
#4.9
cubes = [number**3 for number in range(1,11)]
for cube in cubes:
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [35]:
#4-10
animals = ["dogs", "cats", "parrots"]
print("The animals I chose were:")
for animal in animals:
  print(animal)
print("\n")
for animal in animals:
  if animal == "dogs":
    print("Dogs would make great pets.")
  elif animal == "cats":
      print("Cats are independent and make good companions.")
  elif animal == "parrots":
      print("A parrot can be a very entertaining pet.")
print("\nAny of these animals would make a great pet!")

print("\nThe first three items in the list are:")
print(animals[:3])

print("\nThree items from the middle of the list are:")
print(animals[1:4])

print("\nThe last three items in the list are:")
print(animals[-3:])

#the book told me to pick a random code that I did before.

The animals I chose were:
dogs
cats
parrots


Dogs would make great pets.
Cats are independent and make good companions.
A parrot can be a very entertaining pet.

Any of these animals would make a great pet!

The first three items in the list are:
['dogs', 'cats', 'parrots']

Three items from the middle of the list are:
['cats', 'parrots']

The last three items in the list are:
['dogs', 'cats', 'parrots']

In [36]:
#4.11
pizzas = ['sausage', 'cheese', 'mushroom']
friend_pizzas = pizzas[:]
#adding mushroom instead of meatlovers, will use it later
pizzas.append("meatlovers")
friend_pizzas.append('pesto')

print("My favorite pizzas are:")
for pizza in pizzas:
    print(f"- {pizza}")

print("\nMy friend's favorite pizzas are:")
for pizza in friend_pizzas:
    print(f"- {pizza}")

My favorite pizzas are:
- sausage
- cheese
- mushroom
- meatlovers

My friend's favorite pizzas are:
- sausage
- cheese
- mushroom
- pesto

In [37]:
#4.12
fruit_foods = ["apple", "banana", "cherry", "date"]
meat_foods = ["beef", "chicken", "pork", "lamb"]
fish_foods = ["salmon", "tuna", "cod", "trout"]


print("Fish Foods:")
for food in fish_foods:
    print(food)

print("\nMeat Foods:")
for food in meat_foods:
    print(food)

Fish Foods:
salmon
tuna
cod
trout

Meat Foods:
beef
chicken
pork
lamb

In [38]:
#4.13
menu_items = ['tofu stir fry', 'vegetable curry', 'quinoa salad','kale and avocado wrap', 'chickpea burger']

print("You can choose from the following menu items:")
for item in menu_items:
    print(f"- {item}")

menu_items = ['tofu stir fry', 'vegetable curry', 'quinoa salad',
    'kale and avocado wrap', 'chickpea burger']

print("\nOur menu has been updated.")
print("You can now choose from the following items:")
for item in menu_items:
    print(f"- {item}")

You can choose from the following menu items:
- tofu stir fry
- vegetable curry
- quinoa salad
- kale and avocado wrap
- chickpea burger

Our menu has been updated.
You can now choose from the following items:
- tofu stir fry
- vegetable curry
- quinoa salad
- kale and avocado wrap
- chickpea burger

In [ ]:
#DOWNLOAD PEP? ARE YOU SURE?? IF POINTS TAKEN OFF FOR THIS, PLEASE EMAIL ME.

In [14]:
#Lecky Problem no.1
def factorial(n):
  numbers = [i for i in range(1, n+1)]
  product = 1
  for x in numbers:
    product *= x
  return product
result = factorial(5)
print(result)
result = factorial(10)
print(result)
result = factorial(20)
print(result)
result = factorial(50)
print(result)

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

In [17]:
#Lecky Problem no.2
def special_factorial(n):
  numbers = [i for i in range(1, n+1)]
  if 4 in numbers:
    numbers.remove(4)
  if 13 in numbers:
    numbers.remove(13)
  if 22 in numbers:
    numbers.remove(22)
  product = 1

  for x in numbers:
    product *= x

  return product
result = special_factorial(5)
print(result)
result = special_factorial(10)
print(result)
result = special_factorial(20)
print(result)
result = special_factorial(50)
print(result)

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000